## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/

/addon-*
/*.js.map
/theming
/addons.js
/api.js
/core-events.js
/manager.js
/theming.js
/web-components.js
